@import 'colors';

/*.core-layout__viewport {
  padding-top: 4rem;
}*/

.layout {
  //position: relative;
  height: 100%;
  width: 100%;
  min-width: 650px;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}
.content {
  display: block;
  width: 100%;
  height: calc(100% - 60px);
  padding: 0px;
  margin: 0px;
  overflow: auto;
}

  .button {
    display: block;
    padding: 5px 20px;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    color: $white;
    background: $blue;
    border: 1px solid $blue;
    border-radius: 2px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;

    &:hover {
      color: $white;
      background: lighten($blue, 20%);
      text-decoration: none;
    }

    &:focus {
      color: $white;
      text-decoration: none;
    }
  }