@import 'colors';

$modal_z_index: 11;
$margin: 60px;
@mixin content($width) {
  z-index: $modal_z_index;
  background-color: $white;
  border-radius: 10px;
  overflow: auto;
  position: absolute;
  padding: 15px;
  outline: none;

  //margin: $margin;
  
  //top: $margin;
  //bottom: $margin;
  //right: $margin;
  //left: $margin;

  max-height: calc(100% - 60px);
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  position: absolute;
  width: $width;
  margin: 0;
}

.overlay {
  z-index: $modal_z_index;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.normalContent {
 @include content(400px);
}
.deleteContent {
  @include content(300px);
}

h1 {
  font-size: 17px;
  font-weight: bold;
}
h6 {
  font-size: 13px;
  font-weight: bold;
}
p {
  font-size: 14px;
}