@import 'colors';

.addNotes {
  margin-left: 20px;
  margin-bottom: 10px;
  color: $dark_gray;
  cursor: pointer;
  font-size: 13px;
  &::before{
    content: "+";
    font-size: 15px;
    font-weight:bold;
  }
}
.notesList {
  display: block;
  margin: 0px;
  padding: 10px;
  float: left;
  height: 100%;
  width: calc(100% - 250px);
  overflow: auto;

  .note {
    display: block;
    border: 1px solid $light_blue;
    border-radius: 10px;
    background-color: $very_light_blue;
    color: $dark_gray;
    margin: 7px auto 7px 7px;
    padding: 10px;
    min-width: 300px;
    width: min-content;
    max-width: calc(100% - 16px);

    .titleBar{
      margin-bottom: 1px;
      height: 22px;
      .title {
        margin-bottom: inherit;
        font-weight: bold;
        float: left;
        display: inline-block;
      }
      .icons {
        .noteIcon{
          float: right;
          margin-right: 10px;
          display: inline-block;
          visibility: hidden;
          cursor: pointer;
        }
      }
    }
    &:hover .titleBar .noteIcon{
      visibility: visible;
     }
    .noteContent {
      display:block;
      margin-left: 10px;
      margin-bottom: 0px;
      word-wrap: break-word;
    }
  }
}
